In [1]:
#import modules
import numpy as np
import pandas as pd

In [2]:
activity_raw = pd.read_csv("/Users/User/Documents/GitHub/exercise-and-sleep-analysis/Files/dailyActivity_merged.csv")
activity_raw

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,4/12/2016,13162,8.500000,8.500000,0.0,1.88,0.55,6.06,0.00,25,13,328,728,1985
1,1503960366,4/13/2016,10735,6.970000,6.970000,0.0,1.57,0.69,4.71,0.00,21,19,217,776,1797
2,1503960366,4/14/2016,10460,6.740000,6.740000,0.0,2.44,0.40,3.91,0.00,30,11,181,1218,1776
3,1503960366,4/15/2016,9762,6.280000,6.280000,0.0,2.14,1.26,2.83,0.00,29,34,209,726,1745
4,1503960366,4/16/2016,12669,8.160000,8.160000,0.0,2.71,0.41,5.04,0.00,36,10,221,773,1863
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
935,8877689391,5/8/2016,10686,8.110000,8.110000,0.0,1.08,0.20,6.80,0.00,17,4,245,1174,2847
936,8877689391,5/9/2016,20226,18.250000,18.250000,0.0,11.10,0.80,6.24,0.05,73,19,217,1131,3710
937,8877689391,5/10/2016,10733,8.150000,8.150000,0.0,1.35,0.46,6.28,0.00,18,11,224,1187,2832
938,8877689391,5/11/2016,21420,19.559999,19.559999,0.0,13.22,0.41,5.89,0.00,88,12,213,1127,3832
939,8877689391,5/12/2016,8064,6.120000,6.120000,0.0,1.82,0.04,4.25,0.00,23,1,137,770,1849

In [4]:
type(activity_raw)

pandas.core.frame.DataFrame

In [5]:
activity_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 940 entries, 0 to 939
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        940 non-null    int64
 1   ActivityDate              940 non-null    object
 2   TotalSteps                940 non-null    int64
 3   TotalDistance             940 non-null    float64
 4   TrackerDistance           940 non-null    float64
 5   LoggedActivitiesDistance  940 non-null    float64
 6   VeryActiveDistance        940 non-null    float64
 7   ModeratelyActiveDistance  940 non-null    float64
 8   LightActiveDistance       940 non-null    float64
 9   SedentaryActiveDistance   940 non-null    float64
 10  VeryActiveMinutes         940 non-null    int64
 11  FairlyActiveMinutes       940 non-null    int64
 12  LightlyActiveMinutes      940 non-null    int64
 13  SedentaryMinutes          940 non-null    int64
 14  Calories                  940 non-null    int64
dtypes: float64(7), int64(7), object(1)
memory usage: 110.3+ KB

In [6]:
#making a copy
activity = activity_raw.copy()

In [8]:
sleep_raw = pd.read_csv("/Users/User/Documents/GitHub/exercise-and-sleep-analysis/Files/sleepDay_merged.csv")
sleep_raw

,Id,SleepDay,TotalSleepRecords,TotalMinutesAsleep,TotalTimeInBed
0,1503960366,4/12/2016 12:00:00 AM,1,327,346
1,1503960366,4/13/2016 12:00:00 AM,2,384,407
2,1503960366,4/15/2016 12:00:00 AM,1,412,442
3,1503960366,4/16/2016 12:00:00 AM,2,340,367
4,1503960366,4/17/2016 12:00:00 AM,1,700,712
...,...,...,...,...,...
408,8792009665,4/30/2016 12:00:00 AM,1,343,360
409,8792009665,5/1/2016 12:00:00 AM,1,503,527
410,8792009665,5/2/2016 12:00:00 AM,1,415,423
411,8792009665,5/3/2016 12:00:00 AM,1,516,545
412,8792009665,5/4/2016 12:00:00 AM,1,439,463

In [9]:
type(sleep_raw)

pandas.core.frame.DataFrame

In [10]:
sleep_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413 entries, 0 to 412
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  413 non-null    int64
 1   SleepDay            413 non-null    object
 2   TotalSleepRecords   413 non-null    int64
 3   TotalMinutesAsleep  413 non-null    int64
 4   TotalTimeInBed      413 non-null    int64
dtypes: int64(4), object(1)
memory usage: 16.3+ KB

In [11]:
#making a copy
sleep = sleep_raw.copy()

In [18]:
sleepmins_raw = pd.read_csv("/Users/User/Documents/GitHub/exercise-and-sleep-analysis/Files/minuteSleep_merged.csv")
sleepmins_raw

                Id                  date  value        logId
0       1503960366  4/12/2016 2:47:30 AM      3  11380564589
1       1503960366  4/12/2016 2:48:30 AM      2  11380564589
2       1503960366  4/12/2016 2:49:30 AM      1  11380564589
3       1503960366  4/12/2016 2:50:30 AM      1  11380564589
4       1503960366  4/12/2016 2:51:30 AM      1  11380564589
...            ...                   ...    ...          ...
188516  8792009665   5/4/2016 9:59:00 AM      1  11552534115
188517  8792009665  5/4/2016 10:00:00 AM      1  11552534115
188518  8792009665  5/4/2016 10:01:00 AM      1  11552534115
188519  8792009665  5/4/2016 10:02:00 AM      1  11552534115
188520  8792009665  5/4/2016 10:03:00 AM      1  11552534115

[188521 rows x 4 columns]

In [19]:
type(sleepmins_raw)

pandas.core.frame.DataFrame

In [20]:
sleepmins_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188521 entries, 0 to 188520
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Id      188521 non-null  int64
 1   date    188521 non-null  object
 2   value   188521 non-null  int64
 3   logId   188521 non-null  int64
dtypes: int64(3), object(1)
memory usage: 5.8+ MB

In [21]:
sleepmins = sleepmins_raw.copy()

In [7]:
#checking for nan/null
activity.isnull().sum()

Id                          0
ActivityDate                0
TotalSteps                  0
TotalDistance               0
TrackerDistance             0
LoggedActivitiesDistance    0
VeryActiveDistance          0
ModeratelyActiveDistance    0
LightActiveDistance         0
SedentaryActiveDistance     0
VeryActiveMinutes           0
FairlyActiveMinutes         0
LightlyActiveMinutes        0
SedentaryMinutes            0
Calories                    0
dtype: int64

In [12]:
#checking for nan/null
sleep.isnull().sum()

Id                    0
SleepDay              0
TotalSleepRecords     0
TotalMinutesAsleep    0
TotalTimeInBed        0
dtype: int64

In [16]:
#checking unique count of ids in activity df
activity['Id'].unique().shape

(33,)

In [17]:
#checking unique count of ids in sleep df
sleep['Id'].unique().shape

(24,)

In [ ]:
#merging activity and sleep df based on ID
#note: activity df has more entries than sleep df